.graph-modal {

  &__container {
  }

  &__close {
    right: 40px;
    top: 40px;
    width: auto;
    height: auto;
    font-weight: 400;
font-size: 18px;
line-height: 160%;
color: var(--text-color);

@include mobile {
  right: 20px;
  top: 20px;
}
  }

  &__content {
  }
}

.graph-modal {
  &::before {
    @include tablet {
      display: none;
    }
  }
}

.popup {
  padding: 40px;
width: 100%;
max-width: 940px;

  &__top {
    display: flex;
    margin-bottom: 40px;
  }

  &__image {
    margin-right: 40px;

    @include mobile {
      margin-right: 20px;
    }
  }

  &__info {
  }

  &__name {
    font-weight: 600;
font-size: 24px;
line-height: 160%;
color: var(--dark-color);
margin-bottom: 10px;
  }

  &__post {
    font-weight: 400;
font-size: 18px;
line-height: 160%;
color: var(--text-color);
margin-bottom: 10px;
  }

  &__bottom {
  }

&__bottom-content {
  padding-bottom: 20px;
  padding-right: 20px;
  max-height: 375px;
}

  &__descr {
    margin-bottom: 40px;
  }

  &__text {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--dark-color);
  }

  &__content {
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
font-size: 24px;
line-height: 160%;
  }
  .simplebar-track.simplebar-vertical {
    border-radius: 40px;
    margin: 20px 0 20px;
    width: 5px;
    background: rgba(20, 16, 36, 0.08);
  }

  .simplebar-srollbar::before {
  left: 0;
  right: 0;
  border-radius: 40px;
  width: 5px;
  background-color: var(--dark-color);
  opacity: 1;
  }

  @include small-tablet {
    padding-top: 80px;
  }

  @include mobile {
    padding: 20px;
    padding-top: 40px;
  }
}

.btn-reset {
}
.image {
}
.list-reset {
}

.tabs {
&__menu{
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
  padding-bottom: 20px;
}

&__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;

  @include mobile {
    flex-wrap: wrap;
  }
  }

  &__nav-item {
    @include mobile {
      margin-right: 40px;
      margin-bottom: 20px;
    }

  }

  &__nav-btn {
    font-weight: 400;
font-size: 20px;
line-height: 160%;
color: var(--dark-color);

&:focus {
  color: var(--accent-color);
  background-color: transparent;
}

&--active {
  outline: none;
  color: var(--accent-color);
  background-color: transparent;
}

  }

  &__content {
  }

  &__panel {
  }

}
