.tariffs {
  padding-top: 0;
  &__title {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include hig-tablet {
      gap: 20px;
    }

    @include small-tablet {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &__item {
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(20, 16, 36, 0.2);
border-radius: 20px;
padding: 40px;

@include small-tablet {
  grid-column: 8 span;
}
  }

  &__item--current {
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);
    transform: scale(1.1);

    .tariffs__subtitle {
      color: var(--light-color);
    }
    .tariffs__price {
      color: var(--light-color);
    }
    .tariffs__descr {
      color: var(--light-color);
    }
    @include hig-desktop{
      transform: scale(1);
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
    //  margin-bottom: 63px;
    color: var(--dark-color);

    &::before{
      content: "";
       display: block;
      width: 20px;
      height: 3px;
      margin-right: 10px;
      background-color: currentColor;
    }

     &::after{
      content: "";
      display: block;
      width: 20px;
      height: 3px;
      margin-left: 10px;
      background-color: currentColor;
     }

}

&__price {
  font-weight: 600;
font-size: 50px;
line-height: 160%;
margin-bottom: 20px;
color: var(--dark-color);

@include hig-desktop{
  font-size: 45px;
}
@include hig-tablet {
  font-size: 32px;
}
}

&__descr {
  margin: 0;
  font-weight: 400;
font-size: 18px;
line-height: 160%;
text-align: center;
margin-bottom: auto;
color: var(--dark-color);
}

&__btn {
  margin-top: 60px;
  min-width: 100%;

  @include hig-tablet {
    padding: 10px 20px;
    font-size: 16px;
  }
}
.section-offset {
}
.container {
}
.section-title {
}
.list-reset {
}
.btn-reset {
}
.btn {
}
}
